{% extends 'layout.html' %}

{% block title %}
    Twitter Home page
{% endblock  %}


{% block content %}
    {% csrf_token %}
    <h1 class="text-center mt-4">
        Welcome to Twitter
    </h1>

    <h1>
        {% if form.instance.pk %}Edit Tweet{% else %}Create Tweet{% endif %}
        
        <form method="post" enctype="multipart/form-data"

        class="form">
        {% csrf_token %}
        {{form}}

        <button type="submit">submit</button>
        </form>

    </h1>

{% endblock  %}